<form method="post" action="{{ path('media_delete', {'id': medium.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce média?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medium.id) }}">
    <button class="btn admin-link">Supprimer le média</button>
</form>
