{% extends 'base.html.twig' %}

{% block title %}Modifier un média{% endblock %}

{% block body %}
    <h1>Modifier un média</h1>

    <div class="container">
        {{ include('media/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('media_index') }}">Retourner à la liste des médias</a>

        {{ include('media/_delete_form.html.twig') }}
    </div>
{% endblock %}
