{% extends 'base.html.twig' %}

{% block title %}Ajouter un média{% endblock %}

{% block body %}
    <h1>Ajouter un média</h1>

    <div class="container">
        {{ include('media/_form.html.twig') }}

        <a href="{{ path('media_index') }}">Retourner à la liste des médias</a>
    </div>
{% endblock %}
