/* header */

body {
    background-color: black;
}

/* nav */

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    background: #EEEEFF;
    height: 35px;
}

.menu img {
    width: 100px;
    height: 100px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu > ul > li {
    position: relative;
    flex: 1;
    text-align: center;
    z-index: 10;
}

.menu li:hover .liste > li {
    top: 0;
    display: block;
}

.liste {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.liste li {
    display: none;
    position: relative;
}

/* body */
body {
    background-color : lightgrey;
}

body h1 {
    text-align: center;
}

/* footer */
footer{
    background-color : royalblue;
}

/* homepage */
.logo {
    height : 80px;
    width: 150px;
}

/* jeux */
.jaquette_liste {
    width: 100px;
    height: 140px;
}
