/* header */

body {
    background-color: black;
}

/* nav */

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    background: #EEEEFF;
    height: 35px;
}

.menu img {
    width: 100px;
    height: 100px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu > ul > li {
    position: relative;
    flex: 1;
    text-align: center;
    z-index: 10;
}

.menu li:hover .liste > li {
    top: 0;
    display: block;
}

.liste {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.liste li {
    display: none;
    position: relative;
}

.pseudo{
    font-size: 10px;
    position: relative;
}

/* body */
body {
    background-color : lightgrey;
}

body h1 {
    text-align: center;
}

.home-link-btn {
    color: white;
    border: solid darkgrey 5px;
    background-color: darkgrey;
    padding: 5px;
}

.home-link-btn:hover {
    color: white;
    text-decoration: none;
}

/* footer */
footer{
    background-color : royalblue;
}

/* homepage */
.logo {
    height : 80px;
    width: 150px;
}

/* jeux */
.jaquette_liste {
    width: 100px;
    height: 140px;
}

.visuel_central {
    margin-left: 550px;
    width: 400px;
    height: 600px;
}

.addToCart {
    border: solid red 5px;
    color: white;
    background-color: red;
    padding: 5px;
}

.jeux-liste {
    text-align: center;
}

.jeux-liste a:hover {
    text-decoration : none;
}

/* media */
.img-media-list{
    width: 100px;
    height: 100px;
}

/* profil */
.modif-profil {
    border: solid 3px blue;
    background-color : blue;
    color: white;
    padding: 5px;
}

.modif-profil:hover {
    text-decoration: none;
    color: white;
}

.adresse-bloc {
    border: 4px solid black;
    padding: 4px;
    background-color: darkgrey;
}

.adresse-bloc a {
    /*border: solid 3px red;
    background-color: red;
    color : white;
    padding: 5px;
    margin-bottom: 5px;*/
    color: red;
}

.adresse-bloc a:hover {
    text-decoration: none;
}

.adresse-bloc .btn {
    color: red;
}

/* cart */

.cart-icon{
    height : 20px;
    width : 20px;
}