{% extends 'base.html.twig' %}

{% block title %}Ajouter un jeu{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau jeu</h1>

    <div class="container">
        {{ include('jeux/_form.html.twig') }}
    </div>

    <div class="ml-2">
        <a href="{{ path('jeux_index') }}">Retourner à la liste des jeux</a>
    </div>
{% endblock %}
