{% extends 'base.html.twig' %}

{% block title %}New ConsoleModele{% endblock %}

{% block body %}
    <h1>Create new ConsoleModele</h1>

    {{ include('console_modele/_form.html.twig') }}

    <a href="{{ path('console_modele_index') }}">back to list</a>
{% endblock %}
