{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle marque{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle marque</h1>

    <div class="container">
        {{ include('marque/_form.html.twig') }}

        <a href="{{ path('marque_index') }}">Retourner à la liste des marques</a>
    </div>
{% endblock %}
