{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle catégorie</h1>

    <div class="container">
        {{ include('categorie/_form.html.twig') }}

        <a href="{{ path('categorie_index') }}">Retourner à la liste des catégories</a>
    </div>
{% endblock %}
