<form method="post" action="{{ path('console_delete', {'id': console.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette console?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ console.id) }}">
    <button class="btn admin-link">Supprimer la console</button>
</form>
