{% extends 'base.html.twig' %}

{% block title %}Ajouter une console{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle console</h1>

    <div class="container">
        {{ include('console/_form.html.twig') }}

        <a href="{{ path('console_index') }}">Retourner à la liste des consoles</a>
    </div>
{% endblock %}
